 <%= provide(:title, "Contact - Adam Richardson Website Design/Development") %>

 <div class="contact-intro">
        <div class="row">
          <div class="small-12 medium-12 columns">
            <h1>Contact Me</h1>
            <p>Get in touch to talk about new projects, or just for a chat. You can use the contact form below or send me an email to <a href="mailto:me@adaamr.com">me@adaamr.com.</a> </p>
          </div>
      </div>

      </div> <!-- end contact intro! -->

      <div class="contact-form">
        <div class="row">
          <div class="small-10 small-centered medium-6 medium-centered large-6 large-centered columns">

            <form action="contact.php" method="post">
            <label>Name</label>
            <input type="text" placeholder="Your Name goes here" name="name" required></input>
            

            <label>Email</label>
            <input type="email" placeholder="Your Email goes here" name="name" required></input>
            

            <label>Message</label>
            <textarea name="message" placeholder="Enter your message here" rows="5"></textarea>
            

            <input type="submit" class="button success round" value="Send">
          </form>

          </div>
        </div>
      </div>