<%= provide(:title, "The Design Process - Adam Richardson Website Design/Development") %>

<%= image_tag("gradient-orange.jpg", alt:"Orange Gradient image", class:"header-gradient") %>

<div class="header-text">
	<h1>The development Process</h1>
</div>

<div class="process-intro">
	<div class="row">
		<div class="small-12 columns">
			<h2 class="title center-text">Creating beautiful, functional websites.</h2>
			<div class="small-2 small-centered columns"><span class="step-number center-text">1</span></div>
			<hr>
			<h2 class="title"><small>Research</small></h2>
			<hr>
			<p>Every project starts with extensive research. We look into everything from SEO keywords, competitor websites to your brand. We research your target market in depth so we can design the best website possible for them. User experience starts with understand the user. </p>

			<ol class="list">
				<li>SEO research</li>
				<li>Competitor research</li>
				<li>Brand & strategy research</li>
				<li>Understanding core users</li>
			</ol>
		</div>

		<div class="small-12 columns">
			<div class="small-2 small-centered columns"><span class="step-number center-text">2</span></div>
			<hr>
			<h2 class="title"><small>Design</small></h2>
			<hr>
			<p>We start with low fidelity wireframes, to decide on a layout for your website. From here we will create a proper design for your website, that we modify until you are happy. Your website will look great, and be suitable for your target audience.</p>

			<ol class="list">
				<li>Low fidelity wireframe</li>
				<li>User flow</li>
				<li>High fidelity wireframe</li>
				<li>PSD design & modifications</li>
				<li>Understanding core users</li>
			</ol>
		</div>

		<div class="small-12 columns">
			<div class="small-2 small-centered columns"><span class="step-number center-text">3</span></div>
			<hr>
			<h2 class="title"><small>Develop</small></h2>
			<hr>
			<p>Development can differ hugely depending on project requirements. All projects use modern technologies and semantic code for the fastest, best experience possible.</p>

			<ol class="list">
				<li>Basic layout</li>
				<li>Styling website to design</li>
				<li>Add desired functionality</li>
				<li>Modifications</li>
				<li>Security & optimisation</li>
			</ol>
		</div>


	</div> <!-- end row -->
</div> <!-- End process intro -->